<h1>글작성</h1>
<p>글 작성하고 작성버튼을 누르면 됨니다.</p>
<form action="/home/create"  method="post">
  제목:<input type="text" name="title"><br>
  내용:<input type="text" name="content"><br>
  <input type="submit" value="작성">
</form>
